<%= stylesheet_link_tag "note" %>

<%= render inline: @content %>

<p>Autores:</p>
<ul>
	<% for contributor in @contributors %>
		<li><p><%= contributor %></p></li>
	<% end %>
</ul>

<p>Tags:</p>
<ul>
	<% for page_tag in @tags %>
		<li><p><%= page_tag %></p></li>
	<% end %>
</ul>
