<section>
	<h1>TonTon</h1>

	<nav>
		<%= link_to "Grupo", group_path %>
	</nav>

	<p>TonTon é um servidor para grupo de estudos</p>

	<p>Funcionalidades</p>

	<ul>
		<li><p>Anotações (markdown) conjuntas em git.</p></li>

		<li><p>Anotações pessoais.</p></li>

		<li><p>Hall da fama.</p></li>
	</ul>
</section>
