<%= content_for :title, "Participantes" %>

<% for participator in Participator.all %>
	<% escaped_name = CGI.escapeURIComponent(participator.name) %>

	<p> <%= link_to participator.name, "/participators/#{escaped_name}" %> </p>
<% end %>
